<table border="1">
  <tr>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <% @user.each do |user| %>
    <tr>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.roles.first.name%>
      </td>
    </tr>
  <% end %>
</table>
