<table border="1">
  <tr>
    <td>name</td>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <td>price</td>
    <td><%= @product.price%></td>
  </tr>
  <tr>
    <td>description</td>
    <td><%= @product.description%></td>
  </tr>
  <tr>
    <td>color</td>
    <td><%= @product.color%></td>
  </tr>
</table>
