<% if current_user %>
  <h1><%= current_user && current_user.roles.first.name %></h1>

  <ul>
    <% if can? :read, User %>
      <li><%= link_to 'company users', manage_users_path %></li>
    <% end %>
    <% if can? :read, Product %>
      <li><%= link_to 'product Lits', products_path %></li>
    <% end %>

    <!-- <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li> -->
    <li><%= link_to 'logout', destroy_user_session_path, method: :delete%></li>
  </ul>
<% end %>
